assets/project_data/hardware/newProjects/IR Home Controlling System/Infrared Home Control-video/VID_20220713_211147.mp4
assets/project_data/hardware/newProjects/IR Home Controlling System/Infrared Home Control-video/VID_20220713_210708.mp4
assets/project_data/hardware/newProjects/IR Home Controlling System/Infrared Home Control-video/VID_20220713_205713.mp4
assets/project_data/hardware/newProjects/IR Home Controlling System/Infrared Home Control-video/VID_20220713_210051.mp4
